# <%= cookbook_name %>

Installs and configures <%= cookbook_name %>

Requirements
------------

### Platform:

* Ubuntu (= 14.04)

### Depends on:

[metadata.rb](metadata.rb)

Attributes
----------

<table>
  <tr>
    <td>Attribute</td>
    <td>Description</td>
    <td>Default</td>
  </tr>
</table>

Recipes
-------

### <%= cookbook_name %>::default

Installs and configures <%= cookbook_name %>

Resource/Provider
-----------------

### Resource

#### Properties

- `name` - Name for resource block

#### Actions

- `:create`

License and Author
------------------

<%= license_description %>
